@page "/annonser"
@inject HttpClient client
@inject IJSRuntime js
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]

<h3>Annonser</h3>
<small>Add as many annons as you wish.</small>
<div class="form-group">
    <a class="btn btn-success" href="annonser/create"><i class="oi oi-plus"></i> Create New</a>
</div>
<br>
<div class="row">
    <div class="col-md-6">      
    </div>
    <div class="input-group col">
        <input type="text" class="form-control" placeholder="Search annons by title"
               @bind="SearchString" @bind:event="oninput" @onkeyup="FilterAnnons" />
        @if (SearchString.Length > 0)
        {
            <div class="input-group-append">
                <button class="btn btn-danger" @onclick="ResetSearch">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        }
    </div>
</div>



@if (annonser == null)
{
    <text>Loading...</text>
}
else if (annonser.Length == 0)
{
    <text>No Records Found.</text>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Image</th>                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Annons ann in annonser)
            {
                <tr>
                    <td>@ann.Title</td>
                    <td>@ann.Discription</td>
                    <td>@ann.Price</td>
                    <td>                     
                        @if (ann.Image != null)
                        {
                            <img src="data:image;base64,@(Convert.ToBase64String(ann.Image))" style="max-width: 100px;" />
                        }
                    </td>
                    
                    <td>
                        <a class="btn btn-success" href="annonser/showmore/@ann.Id">Show more</a>
                        <a class="btn btn-success" href="annonser/edit/@ann.Id">Edit</a>
                        <button class="btn btn-danger" @onclick="@(() => Delete(ann.Id))">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    Annons[]? annonser { get; set; }
    public int Id { get; set; }    
    protected Annons[]? searchAnnonsData { get; set; }
    protected Annons annons = new();
    protected string SearchString { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        annonser = await client.GetFromJsonAsync<Annons[]>("api/annons");
        searchAnnonsData = annonser;
    }

    async Task Delete(int annonsId)
    {
        var ann = annonser.First(x => x.Id == annonsId);
        if (await js.InvokeAsync<bool>("confirm", $"Do you want to delete {ann.Title}'s ({ann.Id}) Record?"))
        {
            await client.DeleteAsync($"api/annons/{annonsId}");
            await OnInitializedAsync();
        }
    }

    public void ResetSearch()
    {
        SearchString = string.Empty;
        annonser = searchAnnonsData;
    }

    protected void FilterAnnons()
    {
        if (searchAnnonsData!=null&&!string.IsNullOrEmpty(SearchString))
        {
            annonser = searchAnnonsData
                .Where(x => x.Title.IndexOf(SearchString, StringComparison.OrdinalIgnoreCase) != -1)
                .ToArray();
        }
        else
        {
            annonser = searchAnnonsData;
        }
    }
}